<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @student.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @student.last_name %>
</p>

<p>
  <strong>Is hired:</strong>
  <%= @student.is_hired %>
</p>

<p>
  <strong>Job title:</strong>
  <%= @student.job_title %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @student.start_date %>
</p>

<p>
  <strong>Starting salary:</strong>
  <%= @student.starting_salary %>
</p>

<p>
  <strong>City:</strong>
  <%= @student.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @student.state %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
